.pointer {
	cursor: pointer!important;
}

.bold {
	font-weight: bold!important;
}

.scroll {
	overflow: auto!important;
}

.npsod-img-header {
	max-width: 64px;
	max-height: 64px;
}

.npsod-img-list {
	max-width: 128px;
	max-height: 128px;
	margin: 20px;
}

img.npsod-img-list:hover{
	background-color:#e8e8e8;
};

.npsod-list-group > div:hover{
	background-color: #e8e8e8;
}

.npsod-list-menu-icon {
	top: -27px!important;
    float: right;
    font-size: 20px;
    margin: 0 5px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    background-color: #f8f8f8;
}
.npsod-list-menu-icon:hover{
	background-color: #e8e8e8;
}

.npsod-list-loading-icon {
	position: relative;
    float: right;
    top: -20px!important;
    width: 20px;
    height: 20px;
    margin: 0 10px!important;
}

.npsod-export-btn {
	width: 100%;
	display: inline-block;
}

.npsod-canvas{
	display: table;
	width: 100%;
	height: 100%;
}

.npsod-btn-container{
  display: table-cell;
}