<div class="qv-modal-container qui-modalbackground-centered qs-e-dim">
	<div class="qui-delayedModal" style="max-height: 90%; max-width: 90%; min-height: 100px; min-width: 400px;">
	<header class="dm-header">Export</header>
	<main class="dm-main">
	<div class="bootstrap_inside">
		<div class="progress">
			<div id="npsod-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
				<span class="sr-only">0% Complete</span>
			</div>
			<iframe id="download" style="display:none;"></iframe>

		</div>
	</div>
	</main>
	<footer class="dm-footer">
		<button lui-class="lui-button" x-variant="inverse" class="cancel-button lui-button lui-button--inverse">Close</button>
	</footer>
</div>
</div>