<div class="qv-modal-container qui-modalbackground-centered qs-e-dim npsod-popup">
	<div class="qui-delayedModal" style="max-height: 90%; max-width: 90%; min-height: 60%; min-width: 600px;">
	<header class="dm-header">Export</header>
	<main class="dm-main" ng-class="{scroll: stage=='overview'}">
	<div class="bootstrap_inside">

	</div>
	</main>
	<footer class="dm-footer">
		<button lui-class="lui-button" x-variant="inverse" class="cancel-button lui-button lui-button--inverse">Close</button>
		<iframe id="download" style="display:none;"></iframe>
	</footer>
</div>
</div>