<div qva-outside="onOutsidePopover($event)" style="height: 529.6px; width: 457px; top: 36px; left: 185.891px;">
	<div class="immidiate-contextual-arrow bottom" ng-hide="hidepointer" style="left: 229px; right: auto; top: 0px; bottom: auto;"></div>
	<div class="content" ng-transclude="">
	<div class="qv-appview qv-pop-appview ng-scope ao-personal" qv-appview-init="" tid="bookmarkNavigator"><!-- ngIf: !hasData && !hasScript -->

<!-- ngIf: hasData || hasScriptButNoData --><div class="av-container ng-scope" ng-if="hasData || hasScriptButNoData">
	<div class="av-nav-tool">
		<!-- ngIf: shownav -->

		<!-- ngIf: !is.smalldevice --><div class="av-toolbar-container ng-scope ng-isolate-scope" ng-if="!is.smalldevice" qv-appview-toolbar="" can-create-this-type="exp.canCreateThisType" can-create-bookmarks="exp.canCreateBookmark" t-add-new="translations.addNew" is-bookmark="is.bookmark" is-navigator="is.navigator" t-navigator-header="translations.navigatorHeader" is-grid="is.grid" add-item="funcs.addItem()">
	<!-- ngIf: isNavigator --><h1 class="av-h1 ng-scope" ng-if="isNavigator" q-translation="Common.Bookmarks">Bookmarks</h1><!-- end ngIf: isNavigator -->

	<div class="buttons ng-hide" ng-show="!isBookmark" tid="ao-btns">
		<!-- ngIf: canCreateThisType --><div class="av-button-div ng-scope" ng-if="canCreateThisType" qva-outside-ignore-for="expandable">
			<button lui-class="lui-button" ng-transclude="" ng-disabled="isAdding" qva-activate="addItem()" tid="tlb-add" q-title-translation="AppOverview.Toolbar.CreateNewStory" data-name="addSheet" class="ng-isolate-scope lui-button" title="Create new story"><span q-translation="AppOverview.Toolbar.CreateNewStory" class="ng-scope">Create new story</span></button>
		</div><!-- end ngIf: canCreateThisType -->

		<button class="qui-btn-icn-tgl qui-active" ng-class="classes" ng-transclude="" toggle="" qva-activate="goToGrid()" active="isGrid" id="viewmode-grid" data-name="grid" tid="gl-tgl" q-title-translation="Tooltip.Grid" title="Grid view"><span data-icon="hub-grid" class="ng-scope"></span>
		</button>

		<button class="qui-btn-icn-tgl" ng-class="classes" ng-transclude="" toggle="" qva-activate="goToList()" active="!isGrid" id="viewmode-list" data-name="vertical" tid="gl-tgl" q-title-translation="Tooltip.List" title="List view"><span data-icon="hub-list" class="ng-scope"></span>
		</button>
	</div>

	<!-- ngIf: isBookmark && canCreateBookmarks --><div class="buttons ng-scope" ng-if="isBookmark &amp;&amp; canCreateBookmarks">
		<button lui-class="lui-button" ng-transclude="" qva-outside-ignore-for="bmexpand" qva-activate="createBookmark()" ng-disabled="disableButton()" tid="addBookmarks" class="ng-isolate-scope lui-button"><span q-translation="Bookmarks.Add" class="ng-scope">Create new bookmark</span>
		</button>
	</div><!-- end ngIf: isBookmark && canCreateBookmarks -->
</div><!-- end ngIf: !is.smalldevice -->
	</div>
	<div class="av-content-container bookmark-container" ao-scroll="">
		<!-- ngIf: sections.showError -->

		<!-- ngIf: !is.bookmark && !sections.showError -->
		<!-- Bookmarks -->
		<!-- ngIf: is.bookmark --><div class="qs-bookmarks ng-scope ng-isolate-scope" ng-if="is.bookmark" smalldevice="is.smalldevice" is-nav="is.navigator" has-bookmarks="exp.hasBookmarks" can-create="exp.canCreateBookmark" show-search="exp.showBookmarkSearch">

	<!-- ngIf: showSearch --><div class="qs-bm-search ng-scope" ng-if="showSearch">
		<div lui-class="lui-search" ng-disabled="disabled" query="search.text" auto-focus="focus" on-escape="search.text = '';" placeholder="Common.Search" class="ng-isolate-scope lui-search">
	<span class="lui-search__search-icon"></span>
	<input class="lui-search__input ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched" maxlength="255" q-placeholder="Common.Search" ng-model="query" ng-disabled="disabled" autocomplete="" spellcheck="false" ng-trim="false" type="text" qva-blur="blurred()" qva-focus="autoFocus" qv-escape="escape($event)" qv-enter="enter($event)" placeholder="Search">
	<span class="lui-search__clear-icon ng-hide" q-title-translation="Common.Clear" ng-show="query.length" ng-click="clearSearch($event)" title="Clear"></span>
</div></div><!-- end ngIf: showSearch -->

	<!-- ngIf: canCreate && smalldevice -->

	<!-- ngIf: !ftw && bmList.approved.show -->
	<!-- ngIf: !ftw && bmList.private.show -->
	<!-- ngIf: !ftw && showWarning --><div class="qs-nomatch ng-scope" q-translation="Bookmarks.NoBookmarks" ng-if="!ftw &amp;&amp; showWarning">No bookmarks are available</div><!-- end ngIf: !ftw && showWarning -->
</div><!-- end ngIf: is.bookmark -->
	</div>
</div><!-- end ngIf: hasData || hasScriptButNoData -->
</div>
</div>
</div>