<div qv-extension class="bootstrap_inside npsod-canvas">
	<div class="npsod-btn-container" ng-style="buttonStyle">
		<button ng-if="layout.npsod.button.mode=='popup' || !layout.npsod.button.mode" type="button"
			class="btn btn-primary npsod-export-btn" ng-class="CSSConditionalClass" ng-attr-id="{{ DomId }}"
			ng-click="doExport(layout.npsod.button.mode)">{{layout.npsod.conn.label}}</button>

		<div class="btn-group npsod-single-export-btn" ng-if="layout.npsod.button.mode=='single'"
			ng-class="CSSConditionalClass" ng-attr-id="{{ DomId }}">
			<button type="button" class="btn btn-default main-btn main-btn"
				ng-click="doExport(layout.npsod.button.mode)">{{layout.npsod.conn.label}}
				<svg class="npsod-export-btn-icon" ng-src="{{getImg('LOADING')}}" width="15" height="15"
					viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
					<g fill="none" fill-rule="evenodd">
						<g transform="translate(1 1)" stroke-width="2">
							<circle stroke="#E5E7E9" stroke-opacity=".5" cx="18" cy="18" r="18" />
							<path stroke="#2E86C1" d="M36 18c0-9.94-8.06-18-18-18">
								<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18"
									dur="1s" repeatCount="indefinite" />
							</path>
						</g>
					</g>
				</svg>
			</button>
			<button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>
	</div>
	<iframe id="download" style="display:none;"></iframe>
</div>