<div class="lui-modal-background"></div>
<div class="lui-dialog qlik-button-for-navigation">
    <div class="lui-dialog__header">
        <div class="lui-dialog__title">Sense app mismatch</div>
    </div>
    <div class="lui-dialog__body">
        <label>The On-demand reporting is configured for a different Sense app and won't work with the current configuration. Update the connection on the NPrinting server.</label>
    </div>
    <div class="lui-dialog__footer">
        <button
            class="lui-button close-button"
            ng-click="close()"
            name="closeButton"
            data-tid="close-btn">Close</button>
    </div>
</div>
